@import url('./assets/fonts/font.css');

@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
    --primary-color: rgb(234 155 0);
    --primary-color-light: rgb(255, 185, 0);
    --slate-gray: rgb(55, 70, 79);
    --false: rgb(187, 75, 66);
    --success-color: #7eb137;
    --bg-primary-app: rgb(19, 31, 36)
}

.section-2 .title,
.section-3 .title {
    color: var(--primary-color);
    font-size: theme('fontSize.title-desktop', '48px');
}

.theme-text {
    color: var(--primary-color-light);
}

.theme-bg {
    background-color: var(--primary-color-light);
}

.radioPlay {
    margin-right: 7px;
    color: var(--primary-color);
}

.radioPlay button {
    color: var(--primary-color);
    background: none;


}

.button-check-question,
.radioPlay button {
    box-shadow: none;
    border: none;
}

body #ja {
    font-family: 'Noto Sans JP', sans-serif;
}

body #vi {
    font-family: 'Be Vietnam Pro', sans-serif;
}

body .lession-root {
    font-family: 'Noto Sans JP', sans-serif;
}

.bg-app-primary {
    background-color: var(--bg-primary-app);
}

#root {
    margin: 0 auto;
    text-align: center;
}

a {
    text-decoration: none;
}

.mr-10 {
    margin-right: 10px;
}

ul li {
    list-style: none;
}

.height-80vh {
    height: 80vh;
}

.disabled,
.disabled:hover {
    cursor: unset;
}

button.disabled {
    background-color: rgb(55, 70, 79);
    border: none;
}

button.bg-primary-color {
    background-color: var(--primary-color);
}

button.success {
    background-color: var(--success-color) !important;
}

.success {
    color: var(--success-color) !important;
}

.isFail {
    color: var(--false) !important;
}


button:hover:not(.disabled):not(.isFail):not(.success).hv-primary-color {
    background-color: #ffbf42 !important;
}

.root-bg-gray {
    background-color: rgb(55, 70, 79) !important;
    color: rgb(82, 101, 109) !important;
}

.w-1000 {
    width: 1000px;
}

.no-select > * {
    pointer-events: none !important;
}

.learn-root {
    background-color: rgb(19, 31, 36);
    width: 100%;
    height: 100vh;
    color: #dce6fc;
    font-family: 'Be Vietnam Pro', sans-serif;
    justify-content: space-between;
    align-items: start;
}

.r-64px {
    right: 64px;
}

.r-120px {
    right: 120px;
}

.ml-48 {
    margin-left: 48px !important;
}

.no-select {
    user-select: none; /* Ngăn không cho chọn văn bản */
    -webkit-user-select: none; /* Dành cho trình duyệt WebKit (Chrome, Safari) */
    -moz-user-select: none; /* Dành cho Firefox */
    -ms-user-select: none; /* Dành cho Internet Explorer/Edge */
}
